header
  height: 300px
  padding: 20px
  background: linear-gradient(280deg, #818b24, transparent)
  >div
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%
    max-width: 1600px
    margin: auto
  .topNav
    display: flex
    justify-content: space-between
    align-content: center
    nav
      display: flex
      ul
        text-decoration: none
        list-style: none
        gap: 15px
        li
          font-weight: 600
          font-size: 16px
  .title
    width: 50%
    font-size: 40px
    text-transform: uppercase
footer
  background: #333
  padding: 20px
  text-align: center
  color: #fff
  margin-bottom: 0

main
  width: 100%
  max-width: 2000px
  margin: auto
  padding: 100px 30px
  display: flex
  justify-content: center
  min-height: 910px
  color: #fff

.home_body
  display: flex
  flex-direction: column
  gap: 50px
  .card
    display: flex
    flex-direction: row
    gap: 30px
    justify-content: center
    align-items: center
    align-content: center
    flex-wrap: wrap
    &:nth-child(even)
      direction: rtl

    .content
      width: 50%
  .image
    min-width: 40%

.about_us_list
  display: flex
  flex-direction: column
  li
    text-decoration: none
    list-style: none

.events_page
  display: flex
  flex-direction: row
  gap: 20px
  justify-content: center
  .card
    position: relative
    h2
      position: absolute
      top: 50%
      font-size: 34px
      text-align: center
      text-transform: uppercase
      text-shadow: 1px 1px 20px black
      width: 100%

.cat_events
  width: 100%
  .content
    display: flex
    flex-direction: row
    flex-wrap: wrap
    gap: 30px
    width: calc(100% - (30px * 3))
    justify-content: start
    margin-left: auto
    .card
      display: flex
      flex-direction: column
      width: 70%
      text-align: center

.event_single_page
  .email_registration
    label
      display: flex
      margin-bottom: 15px
      font-size: 18px
      font-weight: 800
      text-transform: uppercase
      margin-top: 25px
    input
      height: 40px
      min-width: 350px
      box-shadow: none
      border-radius: 5px
      border: 1px solid #ccc
      font-size: 16px
    button
      border-radius: 5px
      height: 40px
      min-width: 150px
      border: 1px solid #5f5a5a
      font-size: 16px
      text-transform: uppercase
      margin-left: 10px
      font-weight: 600
      background: #787e34
      cursor: pointer
      &:hover
        color: #dcfff3
        background: #333